<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">FurnitureStore</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
        | <a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a> |
        <a class="button" routerLink="/contact" routerLinkActive="activebutton">Contact</a> |
        <a class="button" routerLink="/about-us" routerLinkActive="activebutton">About Us</a> |
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
